<section class="comments">
  <%= partial 'partials/order_by_comments' %>
  <div class="comment-thread card">
    <article class="comment">
      <div class="comment__header">
        <div class="view-header__data card__content">
          <div class="view-header__data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              1 de agosto de 2016 por
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <a href="#" class="comment__reply">Responder</a>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
    </article>
  </div>

  <h6>Conversación con <a href="">Ajuntament de Barcelona</a></h6>
  <div class="comment-thread card">
    <article class="comment">
      <div class="comment__header">
        <div class="view-header__data card__content">
          <div class="view-header__data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              1 de agosto de 2016 por
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        <a href="#">Responder</a>
      </div>
      <div class="comment__footer">
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
    </article>
    <article class="comment">
      <div class="comment__header">
        <div class="view-header__data card__content">
          <div class="view-header__data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              1 de agosto de 2016 por
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        <a href="#">Responder</a>
      </div>
      <div class="comment__footer">
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
    </article>
    <article class="comment">
      <div class="comment__header">
        <div class="view-header__data card__content">
          <div class="view-header__data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              1 de agosto de 2016 por
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        <a href="#">Responder</a>
      </div>
      <div class="comment__footer">
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
        <article class="comment comment--nested">
        <div class="comment__header">
          <div class="view-header__data card__content">
            <div class="view-header__data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar author__avatar--small">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                1 de agosto de 2016 por
                <a href="#" class="author__name">
                  Ajuntament de Barcelona
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
            en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
            de la Vall d'Hebron des del 198 al 208. Per no parlar de la
            contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
            s'evacuarien directament al nostre menjador si no fos que mantenim les
            finestres i terrasses tencades de manera permanent.</p>
          <a href="#">Responder</a>
        </div>
        <div class="comment__footer">
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
      </article>
      <article class="comment comment--nested">
        <div class="comment__header">
          <div class="view-header__data card__content">
            <div class="view-header__data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar author__avatar--small">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                1 de agosto de 2016 por
                <a href="#" class="author__name">
                  Ajuntament de Barcelona
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
            en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
            de la Vall d'Hebron des del 198 al 208. Per no parlar de la
            contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
            s'evacuarien directament al nostre menjador si no fos que mantenim les
            finestres i terrasses tencades de manera permanent.</p>
          <a href="#">Responder</a>
        </div>
        <div class="comment__footer">
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
        <article class="comment comment--nested comment--nested--alt">
          <div class="comment__header">
            <div class="view-header__data card__content">
              <div class="view-header__data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar author__avatar--small">
                    <img src="/images/demo-avatar.jpg" alt="">
                  </a>
                  1 de agosto de 2016 por
                  <a href="#" class="author__name">
                    Ajuntament de Barcelona
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
              en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
              de la Vall d'Hebron des del 198 al 208. Per no parlar de la
              contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
              s'evacuarien directament al nostre menjador si no fos que mantenim les
              finestres i terrasses tencades de manera permanent.</p>
            <a href="#">Responder</a>
          </div>
          <div class="comment__footer">
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <span class="fa fa-chevron-up"></span>
                257
              </a>
              <a href="" class="comment__votes--down">
                <span class="fa fa-chevron-down"></span>
                257
              </a>
            </div>
          </div>
        </article>
      </article>
    </article>
  </div>
</section>