<div class="filters">
  <div class="main-container__content">
    <form>
      <input type="search" placeholder="Buscar">
    </form>
    <h6>Tu actividad</h6>
    <fieldset>
      <label><input id="" type="checkbox">Creadas</label>
    </fieldset>
    <fieldset>
      <label><input id="" type="checkbox">Comentadas</label>
    </fieldset>
    <fieldset>
      <label><input id="" type="checkbox">Votadas</label>
    </fieldset>
    <fieldset>
      <label><input id="" type="checkbox">Seguidas</label>
    </fieldset>
  </div>
</div>