<div class="filters">
  <button data-toggle="filter-box" class="filters__trigger show-for-small-only">Filtrar</button>
  <div class="main-container__content filters__content" id="filter-box" data-toggler=".is-active">
    <form>
      <input type="search" placeholder="Buscar">
      <h6>Tu actividad</h6>
      <fieldset>
        <label><input id="" type="checkbox">Creadas</label>
      </fieldset>
      <fieldset>
        <label><input id="" type="checkbox">Comentadas</label>
      </fieldset>
      <fieldset>
        <label><input id="" type="checkbox">Votadas</label>
      </fieldset>
      <fieldset>
        <label><input id="" type="checkbox">Seguidas</label>
      </fieldset>
    </form>
  </div>
</div>