<!-- Empty flag icon to avoid id duplication, just for demo purposes.
Don't use in production. -->
<button type="button" title="Reportar un problema">
  <svg class="icon icon--small" aria-label="Reportar problema" role="img">
    <use xlink:href="/images/icons.svg#icon-flag"></use>
  </svg>
</button>
