<div class="gallery row">
  <div class="columns medium-4">
    <img class="thumbnail" src="images/meeting1.jpg" alt="">
  </div>
  <div class="columns medium-4">
    <img class="thumbnail" src="images/meeting2.jpg" alt="">
  </div>
  <div class="columns medium-4">
    <img class="thumbnail" src="images/meeting3.jpg" alt="">
  </div>
</div>