<div class="main-footer">
  <a class="main-footer__badge" href="https://ajuntament.barcelona.cat">
    <img src="/images/badge-ajuntament-footer.png"
         alt="ajuntament.barcelona.cat">
  </a>
  <div class="row">
    <div class="medium-6 medium-offset-3 column text-center">
      <a href="#">Informació</a>
      <a href="#">Condicions d'ús</a>
      <a target="_blank" href="http://accessibilitat.bcn.cat/ca">Accessibilitat</a>
    </div>
    <div class="medium-3 column text-right">
      <div class="footer-social">
          <a target="_blank" title="Twitter"
             href="https://twitter.com/bcn_ajuntament">
            <span class="fa fa-twitter"></span>
          </a>
          <a target="_blank" title="Facebook"
             href="https://www.facebook.com/bcn.cat/">
            <span class="fa fa-facebook"></span>
          </a>
          <a target="_blank" title="Instagram"
             href="https://www.instagram.com/barcelona_cat/?hl=ca">
            <span class="fa fa-instagram"></span>
          </a>
          <a target="_blank" title="YouTube"
             href="https://www.youtube.com/bcnajuntament">
          <span class="fa fa-youtube"><span>
          </a>
          <a target="_blank" title="GitHub"
             href="https://www.github.com/AjuntamentdeBarcelona/decidim.barcelona">
            <span class="fa fa-github"></span>
          </a>
      </div>
    </div>
  </div>
</div>