<div class="show-for-medium" data-set="nav-holder">
  <nav class="navbar js-append">
    <div class="row column">
      <nav class="main-nav">
        <ul>
          <li class="main-nav__link
            <% if current_page.data.activesection == "home" %>
             main-nav__link--active
            <% end %>">
            <a href="/home">Inici</a>
          </li>
          <li class="main-nav__link
            <% if current_page.data.activesection == "processes" %>
             main-nav__link--active
            <% end %>">
            <a href="/processes">Processos</a>
          </li>
          <% if false %>
            <li class="main-nav__link
              <% if current_page.data.activesection == "spaces" %>
               main-nav__link--active
              <% end %>">
              <a href="">Espais</a>
            </li>
            <li class="main-nav__link
              <% if current_page.data.activesection == "data" %>
               main-nav__link--active
              <% end %>">
              <a href="">Datos</a>
            </li>
          <% end %>
          <li class="main-nav__link
            <% if current_page.data.activesection == "more-info" %>
               main-nav__link--active
            <% end %>">
            <a href="/more-information">Més informació</a>
          </li>
          <li class="main-nav__link
            <% if current_page.data.activesection == "news" %>
             main-nav__link--active
            <% end %>">
            <a href="http://eldigital.barcelona.cat/pambcn" target="_blank">
              Noticies
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
