<div class="mini-footer">
  <div class="row">
    <div class="medium-2 columns">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
         target="_blank">
        <img alt="Creative Commons License" src="/images/cc-badge.png">
      </a>
    </div>
    <div class="medium-10 columns mini-footer__text">
      Aquesta web està feta amb
      <a target="_blank" href="https://github.com/AjuntamentdeBarcelona/decidimbcn">
        software lliure</a>, basat en
      <a target="_blank" href="https://github.com/consul/consul">consul</a>.
    </div>
  </div>
</div>