<div class="row collapse cards-view">
  <span class="cards-view__total">1467 comentaris</span>
  <div class="cards-view__order">
    <span>Ordenar per:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Més votats</a>
        <ul class="menu">
          <li><a href="#">Més votats</a></li>
          <li><a href="#">Més nous</a></li>
          <li><a href="#">Més antics</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>