<div class="row collapse order-by">
  <span class="order-by__text">1467 comentaris</span>
  <div class="order-by__dropdown">
    <span class="order-by__text">Ordenar per:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Més votats</a>
        <ul class="menu">
          <li><a href="#">Més votats</a></li>
          <li><a href="#">Més nous</a></li>
          <li><a href="#">Més antics</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>