<div class="row">
  <div class="columns owl-carousel-wrapper">
    <button class="prev">&lt;</button>
    <div class="owl-carousel">
      <div> Your Content </div>
      <div> Your Content </div>
      <div> Your Content 3 </div>
      <div> Your </div>
      <div> Your very <br>very very very long Content </div>
      <div> Your Content </div>
      <div> Your Content 3 </div>
      <div> Your </div>
      <div> Your very <br>very very very long Content </div>
    </div>
    <button class="next">&gt;</button>
  </div>
</div>