<div class="row collapse process-header__nav">
  <div class="columns phase-nav">
    <button class="prev">
      <svg class="icon">
        <use xlink:href="#icon-chevron-left" />
      </svg>
    </button>
    <div class="phase-nav__wrapper" data-carousel>
      <a href="/phase1_info" class="phase-nav__item
      <% if current_page.data.activephase == "phase1" %> is-active<% end %>">
        <div class="phase-nav__number">
          <span>1</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Comunicaci贸n</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>

      <a href="/phase2_proposals" class="phase-nav__item
      <% if current_page.data.activephase == "phase2" %> is-active<% end %>">
        <div class="phase-nav__number">
          <span>2</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Diagn贸stico</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>

      <a href="" class="phase-nav__item is-inactive">
        <div class="phase-nav__number">
          <span>3</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Aportaciones</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>

      <a href="" class="phase-nav__item is-inactive">
        <div class="phase-nav__number">
          <span>4</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Decisi贸n</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>

      <a href="" class="phase-nav__item is-inactive">
        <div class="phase-nav__number">
          <span>5</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Resultados</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>

      <a href="" class="phase-nav__item is-inactive">
        <div class="phase-nav__number">
          <span>6</span>
        </div>
        <div class="phase-nav__info">
          <span class="phase-nav__title">Evaluaci贸n</span>
          <span class="phase-nav__date">02/06/2016 - 15/02/2016</span>
        </div>
      </a>
    </div>

    <button class="next">
      <svg class="icon">
        <use xlink:href="#icon-chevron-right" />
      </svg>
    </button>
  </div>
</div>