<div class="row collapse process-header">
  <div class="columns medium-9 large-10">
    <h1>Plan urbanístico de Gracia</h1>
  </div>
  <div class="columns medium-3 large-2">
    <a href="" class="button hollow expanded">Seguir proceso</a>
  </div>
</div>