<div class="process-header row column">
  <div class="row column process-header__main"
    style="background-image:url(/images/barcelona-hero.jpg);">
    <div class="process-header__container row">
      <div class="columns mediumlarge-9 process-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <a href="info">Plan urbanístico de Gracia</a>
          </h1>
        </div>
        <div>
          <h2 class="text-highlight heading-small">
						<span class="process-header__hashtag">#urbaGracia</span>
            Proceso de mejoras del barrio de Gracia
					</h2>
        </div>
      </div>
      <div class="columns mediumlarge-3 process-header__actions">
        <div>
          <a href="info" class="process-header__action">
            <span class="action-title">El proceso</span>
            <span class="action-icon">
              <svg class="icon">
                <use xlink:href="#icon-info" />
              </svg>
            </span>
          </a>
        </div>
        <div>
          <a class="process-header__action" data-toggle="phasesInfo">
            <span class="action-title">Las fases</span>
            <span class="action-icon">
              <svg class="icon">
                <use xlink:href="#icon-clock" />
              </svg>
            </span>
          </a>
        </div>
        <div>
          <a class="process-header__action" data-toggle="processShare">
            <span class="action-title">Compartir</span>
            <span class="action-icon">
              <svg class="icon">
                <use xlink:href="#icon-share" />
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
    <%= partial 'partials/phase_nav' %>
  </div>
  <% if current_page.data.activephase == "processhome" %>
  <% else %>
    <div class="row column">
      <%= partial 'partials/process_nav' %>
    </div>
  <% end %>
</div>

<div class="reveal large" id="phasesInfo" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Fases del projecte:</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="columns large-9 large-centered">
      <%= partial 'partials/timeline' %>
    </div>
  </div>
</div>

<div class="reveal" id="processShare" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Compartir:</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="callout warning">
    <h3>Pendiente revisar contenido.</h3>
  </div>
</div>
