<div class="row process-header"
  style="background-image:url(http://fillmurray.com/1200/300);">
  <div class="process-header__container">
    <div class="columns medium-9 process-header__info">
      <div>
        <h1 class="text-highlight text-highlight--large heading1">
          <a href="info">Plan urbanístico de Gracia</a>
        </h1>
      </div>
      <div>
        <span class="text-highlight text-large">Sarrià - Sant Gervasi</span>
        <span class="text-highlight text-large">#urbaGracia</span>
      </div>
    </div>
    <div class="columns medium-3 process-header__action">
      <a href="" class="button button--frosted button--sc large expanded">
        Más información</a>
    </div>
  </div>
</div>