<h3>Actuaciones relacionadas</h3>

<div class="card card--action card--list">
  <div class="card__content">
    <div class="card--list__item">
      <a href="#" class="card--list__text card__link">
        <h5>
          Creació d'aules ambientals al Parc del Clot
        </h5>
      </a>
      <div class="card--list__data">
        <span class="card--list__data__number">130</span>apoyos
      </div>
    </div>
    <div class="card--list__item">
      <a href="#" class="card--list__text card__link">
        <h5>
          Creació d'aules ambientals al Parc del Clot
        </h5>
      </a>
      <div class="card--list__data">
        <span class="card--list__data__number">130</span>apoyos
      </div>
    </div>
  </div>
</div>
