<h3>Citas relacionadas</h3>
<div class="row">
  <div class="columns large-6">
    <div class="card card--meeting">
      <div class="card__content">
        <div class="card__datetime">
          <div class="card__datetime__date">
            20 <span class="card__datetime__month">Ago</span>
          </div>
          <div class="card__datetime__time">
            16:00 - 18:00
          </div>
        </div>
        <h5>
          <a href="#" class="card__link">
            Cooperatives i economia solidària
          </a>
        </h5>
        <p class="card__desc">
          Recollir, en sessió oberta al carrer, propostes per millorar
          la convivència i l´ús de l´espai públic al barri.
        </p>
        <div class="address">
          <div class="address__icon">
            <svg width="40" height="70">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-icon-meetings"></use>
            </svg>
          </div>
          <div class="address__details">
            <strong>Seu del Districte Sants-Montjuïc</strong><br>
            <span>Carrer de la Creu Coberta, 104</span><br>
            <span>Barcelona</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>