<h3>Proposta recollida als següents resultats:</h3>

<div class="card card--action card--list">
  <div class="card__content">
    <div class="card--list__item">
      <svg width="30" height="30" class="card--list__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#shape-icon-actions"></use>
      </svg>
      <a href="#" class="card--list__text card__link card__link--block">
        <h5 class="card--list__heading">
          Creació d'aules ambientals al Parc del Clot
        </h5>
      </a>
      <div class="card--list__data">
        <span class="card--list__data__number">130</span>apoyos
      </div>
    </div>
    <div class="card--list__item">
      <svg width="30" height="30" class="card--list__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#shape-icon-actions"></use>
      </svg>
      <a href="#" class="card--list__text card__link card__link--block">
        <h5 class="card--list__heading">
          Creació d'aules ambientals al Parc del Clot
        </h5>
      </a>
      <div class="card--list__data">
        <span class="card--list__data__number">130</span>apoyos
      </div>
    </div>
  </div>
</div>
