<h3>Actuaciones relacionadas</h3>

<div class="card card--action card--sidefooter">
  <div class="card__content">
    <h5>
      <a href="#" class="card__link">
        Creació d'aules ambientals al Parc del Clot
      </a>
    </h5>
    <p class="card__desc">Implementar la instal·lació d’àrees
      estratègiques de càrrega i descàrrega per garantir uns
       fluxos de mobilitat sostenibles i respectuosos.</p>
  </div>
  <div class="card__footer">
    <ul class="card-data">
      <li class="card-data__item">
        <span class="card-data__item__number">130</span>propostes
      </li>
      <li class="card-data__item">
        <span class="card-data__item__number">27</span>suports
      </li>
      <li class="card-data__item">
        <span class="card-data__item__number">2567</span>comentaris
      </li>
    </ul>
  </div>
</div>
