<div class="share">
  <ul>
    <li>
      <a href="#" class="share__icon" aria-label="Compartir en Facebook" role="img">
        <svg class="icon">
          <use xlink:href="#shape-icon-facebook" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="share__icon" aria-label="Compartir en Google" role="img">
        <svg class="icon">
          <use xlink:href="#shape-icon-google" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="share__icon" aria-label="Compartir en Twitter" role="img">
        <svg class="icon">
          <use xlink:href="#shape-icon-twitter" />
        </svg>
      </a>
    </li>
  </ul>
</div>