<div class="reveal" id="processShare" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Compartir:</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="button-group text-center">
    <a class="button button--twitter">
      <svg class="icon">
        <use xlink:href="#shape-icon-twitter"></use>
      </svg>
    </a>
    <a class="button button--facebook">
      <svg class="icon">
        <use xlink:href="#shape-icon-facebook"></use>
      </svg>
    </a>
    <a class="button button--google">
      <svg class="icon">
        <use xlink:href="#shape-icon-google"></use>
      </svg>
    </a>
    <a class="button secondary">
      <svg class="icon">
        <use xlink:href="#shape-icon-github"></use>
      </svg>
    </a>
    <a class="button secondary">
      <svg class="icon">
        <use xlink:href="#shape-icon-instagram"></use>
      </svg>
    </a>
    <a class="button secondary" data-open="urlShare">
      <svg class="icon">
        <use xlink:href="#icon-link-intact" />
      </svg>
    </a>
  </div>
</div>
<div class="reveal" id="urlShare" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Compartir enlace:</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h4 class="heading4">https://decidim.barcelona/thislinkinparticular</h4>
</div>