<div class="share">
  <ul>
    <li>
      <a href="#" class="share__icon">
        <span class="fa fa-facebook" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      <a href="#" class="share__icon">
        <span class="fa fa-google" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      <a href="#" class="share__icon">
        <span class="fa fa-twitter" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>