<nav class="navbar">
  <div class="row">
    <ul class="main-nav">
      <li><a class="main-nav__link" href="">Inici</a></li>
      <li>
        <a class="main-nav__link main-nav__link--active" href="">Processos</a>
      </li>
      <li><a class="main-nav__link" href="">Espais</a></li>
      <li><a class="main-nav__link" href="">Visualitzacions</a></li>
      <li><a class="main-nav__link" href="">Més informació</a></li>
      <li><a class="main-nav__link" href="">Noticies</a></li>
    </ul>
  </div>
</nav>