<div class="timeline">
  <div class="timeline__item">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">1</span>
		</div>
    <div class="timeline__content">
      <h6 class="timeline__title">Información</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
      </p>
      <a href="#" class="btn">button</a>
    </div>
  </div>

  <div class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">2</span>
		</div>
    <div class="timeline__content right">
      <h6 class="timeline__title">Reflexión</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
      </p>
      <a href="#" class="btn">button</a>
    </div>
  </div>

  <div class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">3</span>
		</div>
    <div class="timeline__content">
      <h6 class="timeline__title">Propuestas</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
      </p>
      <a href="#" class="btn">button</a>
    </div>
  </div>
</div>