<h2>Fases del proceso</h2>
<ol class="timeline">
  <li class="timeline__item">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">1</span>
		</div>
    <div class="timeline__desc" id="timeline-info" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-info">
        <h6>Información
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>

  <li class="timeline__item">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">2</span>
		</div>
    <div class="timeline__desc" id="timeline-refl" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-refl">
        <h6>Reflexión
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>

  <li class="timeline__item timeline__item--current">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">3</span>
		</div>
    <div class="timeline__desc is-expanded" id="timeline-prop" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-prop">
        <h6>Propuestas
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">4</span>
		</div>
    <div class="timeline__desc" id="timeline-conc" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-conc">
        <h6>Concreción
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">5</span>
		</div>
    <div class="timeline__desc" id="timeline-return" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-return">
        <h6>Retorno
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">6</span>
		</div>
    <div class="timeline__desc" id="timeline-follow" data-toggler=".is-expanded">
      <a class="timeline__title" data-toggle="timeline-follow">
        <h6>Seguimiento
          <span class="fa fa-angle-down timeline__title__icon"></span>
        </h6>
      </a>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
</ol>