<ol class="timeline">
  <li class="timeline__item">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">1</span>
		</div>
    <div class="timeline__desc">
      <div class="timeline__title">
        <h6>Información</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>

  <li class="timeline__item">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">2</span>
		</div>
    <div class="timeline__desc">
      <div class="timeline__title">
        <h6>Reflexión</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>

  <li class="timeline__item timeline__item--current">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">3</span>
		</div>
    <div class="timeline__desc is-expanded">
      <div class="timeline__title">
        <h6>Propuestas</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">4</span>
		</div>
    <div class="timeline__desc">
      <div class="timeline__title">
        <h6>Concreción</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">5</span>
		</div>
    <div class="timeline__desc">
      <div class="timeline__title">
        <h6>Retorno</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
		  <span class="timeline__phase__number">6</span>
		</div>
    <div class="timeline__desc">
      <div class="timeline__title">
        <h6>Seguimiento</h6>
      </div>
      <div class="timeline__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
      </div>
    </div>
  </li>
</ol>
