// Home

.hero{
  background-size: cover;
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
  }
}

.hero__container{
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 6rem 0;
}

.hero-heading{
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  line-height: 1;
  text-shadow: 0 0 5px rgba(black, .8);
}

.hero-cta{
  margin-top: 4rem;
  padding: 1.2rem 1rem;
}

.wrapper-home{
  padding: 4rem 1rem;
  @include breakpoint(medium){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @include breakpoint(large){
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.home-section{
  background: $light-gray-dark;
}

.subhero{
  padding: 4rem 0;
  text-align: center;
}

.subhero-cta{
  margin-top: 2rem;
  color: $primary;
  display: inline-block;
}

.home-section__cta{
  margin-top: 2rem;
}

.home-bullets{
  margin: 5rem 0;
}

.home-bullet{
  overflow: hidden;
}

.home-bullet__icon{
  float: left;
  width: 15%;
  text-align: right;
  svg{
    width: 30px;
    height: 30px;
    fill: $primary;
  }
}

.home-bullet__desc{
  float: right;
  width: 85%;
  padding-left: 1rem;
}

.home-map{
  .wrapper-home{
    padding-bottom: 0;
  }
  #google-map{
    margin-bottom: 0;
  }
}

/* Home PAM */

.home-pam{
  overflow: hidden;
  margin: 5rem 0;
}

.home-pam__title{
  color: $muted;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .01em;
  font-weight: 600;
  margin-bottom: 0;
  .home-pam__lowlight &{
    display: inline;
  }
}

.home-pam__data{
  text-align: center;
  float: left;
  padding: .25rem;
  .home-pam__highlight &{
    width: 50%;
    padding: 1rem 2rem;
    border-bottom: $border;
    border-right: $border;
    &:last-child{
      border-right: none;
    }
  }
  .home-pam__lowlight &{
    width: 33.3%;
    &:first-child{
      text-align: left;
      padding-left: 0;
    }
    &:last-child{
      text-align: right;
      padding-right: 0;
    }
  }
}

.home-pam__number{
  font-size: 1.2rem;
  font-weight: 800;
  .home-pam__highlight &{
    font-size: 4rem;
    line-height: 1;
  }
}