// Home

.hero{
  background-size: cover;
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
  }
}

.hero__container{
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 6rem 0;
}

.hero-heading{
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  line-height: 1;
  text-shadow: 0 0 5px rgba(black, .8);
}

.hero-cta{
  margin-top: 4rem;
  padding: 1.2rem 1rem;
}

.wrapper-home{
  padding: 4rem 1rem;
  @include breakpoint(medium){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @include breakpoint(large){
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.home-section{
  background: $light-gray-dark;
}

.subhero{
  padding: 4rem 0;
  text-align: center;
}

.subhero-cta{
  margin-top: 2rem;
  color: $primary;
  display: inline-block;
}

.home-bullet{
  overflow: hidden;
  //display: flex;
}

.home-bullet__icon{
  float: left;
  width: 20%;
  text-align: right;
  svg{
    width: 50px;
    height: 50px;
    fill: $muted;
  }
}

.home-bullet__desc{
  float: right;
  width: 80%;
  padding-left: 2rem;
}

.home-map{
  .wrapper-home{
    padding-bottom: 0;
  }
  #google-map{
    margin-bottom: 0;
  }
}