// Proposal, action, debate & meeting view


//Variables
$header-data-color: $muted;

//Styles

.view-header{
  margin-bottom: 2rem;
}

.view-header__data{
  @include clearfix();
  color: $header-data-color;
  a{
    color: $header-data-color;
    &:hover{
      color: $anchor-color;
    }
  }
}

.view-header__data__main{
  float: left;
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: $border;
}

.view-header__data__extra{
  >a{
    margin-right: 1rem;
  }
}