---
title: Proceso -- Decidim Barcelona
activesection: consultations
activepage : entities
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/consultations_header' %>
  <div class="row column">
    <%= partial 'partials/consultations_nav' %>
  </div>
  <div class="row column">
		<div class="row">
			<div class="columns medium-7 mediumlarge-8">
				<div class="section">
					<p class="lead">
						Millores en un conjunt de carrers dels barris del districte que
						incorporin la renovació integral de les seves infraestructures
						(voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
						arbrat, mobiliari urbà...)</p>
					<p>Interiors de…
					</p>
				</div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
