---
title: Proceso -- Decidim Barcelona
activesection: home
---

<%= partial 'partials/template_top' %>

<main>
  <section class="extended hero"
    style="background-image:url(/images/hero-home.jpg);">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            Construïm entre tots<br>la Barcelona que volem
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered large-3">
          <a href="/processes" class="hero-cta button expanded large button--sc">
            Participa
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3">Únete a la plataforma online de
        participación ciudadana y participa de forma activa para mejorar tu
        ciudad. Ya somos 156000.</h2>
        <a href="/user-register" class="button--sc link subhero-cta">
          Regístrate
          <svg class="icon icon--after" aria-hidden="true">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper-home">
    <div class="row">
      <h3 class="section-heading">Processos destacats</h3>
      <div class="row collapse">
        <div class="row small-up-1 medium-up-2 large-up-4 card-grid">
          <div class="column">
            <article class="card card--process card--mini">
              <a href="/info" class="card__link">
                <div class="card__image-top"
                  style="background-image:url(/images/superilles.jpg)"></div>
              </a>
              <div class="card__content">
                <a href="/info" class="card__link">
                  <h4 class="card__title">Superilles</h4>
                </a>
                <span class="card--process__small">Fase activa:
                  <strong>Diagnóstico</strong>
                </span>
              </div>
            </article>
          </div>
          <div class="column">
            <article class="card card--process card--mini">
              <a href="/info" class="card__link">
                <div class="card__image-top"
                  style="background-image:url(/images/gracia.jpg)"></div>
              </a>
              <div class="card__content">
                <a href="/info" class="card__link">
                  <h4 class="card__title">Plan urbanístico de Gracia</h4>
                </a>
                <span class="card--process__small">Fase activa:
                  <strong>Diagnóstico</strong>
                </span>
              </div>
            </article>
          </div>
          <div class="column">
            <article class="card card--process card--mini">
              <a href="/info" class="card__link">
                <div class="card__image-top"
                  style="background-image:url(/images/puntverd.jpg)"></div>
              </a>
              <div class="card__content">
                <a href="/info" class="card__link">
                  <h4 class="card__title">Reciclatge de dispositius electrònics</h4>
                </a>
                <span class="card--process__small">Fase activa:
                  <strong>Diagnóstico</strong>
                </span>
              </div>
            </article>
          </div>
          <div class="column">
            <article class="card card--process card--mini">
              <a href="/info" class="card__link">
                <div class="card__image-top"
                  style="background-image:url(/images/demo-info-page.jpg)"></div>
              </a>
                <div class="card__content">
                  <a href="/info" class="card__link">
                    <h4 class="card__title">Pla de turisme sostenible</h4>
                  </a>
                  <span class="card--process__small">Fase activa:
                    <strong>Diagnóstico</strong>
                  </span>
                </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered large-3">
        <a href="/processes" class="button expanded hollow button--sc">
          Ver todos los procesos
        </a>
      </div>
    </div>
  </section>
  <section class="extended">
    <div class="wrapper-home home-section">
      <div class="row small-up-1 medium-up-2">
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <svg>
                <use xlink:href="#shape-icon-debates" />
              </svg>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Debates</h4>
              <p>Encontrarnos, debatir y compartir lo que nos parece importante en
                nuestra ciudad.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <svg>
                <use xlink:href="#shape-icon-proposals" />
              </svg>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Propuestas</h4>
              <p>Encontrarnos, debatir y compartir lo que nos parece importante en
                nuestra ciudad.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <svg>
                <use xlink:href="#shape-icon-meetings" />
              </svg>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Encuentros</h4>
              <p>Encontrarnos, debatir y compartir lo que nos parece importante en
                nuestra ciudad.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <svg>
                <use xlink:href="#shape-icon-actions" />
              </svg>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Resultados</h4>
              <p>Encontrarnos, debatir y compartir lo que nos parece importante en
                nuestra ciudad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="extended subhero">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3">Únete a la plataforma online de
        participación ciudadana y participa de forma activa para mejorar tu
        ciudad. Ya somos 156000.</h2>
        <a href="/user-register" class="button--sc link subhero-cta">
          Regístrate
          <svg class="icon icon--after" aria-hidden="true">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="home-map">
    <div class="wrapper-home home-section">
      <div class="row column">
        <h3 class="section-heading">Pròximes trobades</h3>
      </div>
    </div>
    <%= partial 'partials/meetings_map' %>
  </section>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3">Únete a la plataforma online de
        participación ciudadana y participa de forma activa para mejorar tu
        ciudad. Ya somos 156000.</h2>
        <a href="/user-register" class="button--sc link subhero-cta">
          Regístrate
          <svg class="icon icon--after" aria-hidden="true">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
</main>

<%= partial 'partials/template_bottom' %>

