---
title: Decidim Barcelona
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns large-12">
      <h1>Decidim Barcelona</h1>
      <p>Plantillas disponibles:</p>
      <ul>
        <li><a href="/info">Proceso - información y timeline</a></li>
        <li><a href="/proposals">Proceso - propuestas</a></li>
        <li><a href="/actions">Proceso - actuaciones</a></li>
        <li><a href="/debates">Proceso - debates</a></li>
        <li><a href="/meetings">Proceso - citas presenciales</a></li>
        <li><a href="/proposal-view">Vista de propuesta</a></li>
        <li><a href="/action-view">Vista de actuación</a></li>
        <li><a href="/debate-view">Vista de debate</a></li>
        <li><a href="/meeting-view">Vista de cita</a></li>
      </ul>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
