---
title: Decidim Barcelona
activesection: home
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns large-12">
      <h1>Decidim Barcelona</h1>
      <div class="section">
        <h2 class="section-heading">Plantillas disponibles</h2>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/processes">Procesos</a></li>
          <li><a href="/info">Proceso - landing</a></li>
          <li><a href="/phase1_info">Fase 1 - información</a></li>
          <li><a href="/phase1_meetings">Fase 1 - encuentros</a></li>
          <li><a href="/meeting-view">Vista de encuentro</a></li>
          <li><a href="/phase2_debates">Fase 2 - debates</a></li>
          <li><a href="/debate-view">Vista de debate</a></li>
          <li><a href="/debate-view-AMA">Vista de debate con concejal</a></li>
          <li><a href="/phase3_proposals">Fase 3 - propuestas sin voto</a></li>
          <li><a href="/phase4_proposals">Fase 4 - propuestas con voto</a></li>
          <li><a href="/phase4_proposals_2">Fase 4 - propuestas con contador de votos</a></li>
          <li><a href="/proposal-view">Vista de propuesta aprobada</a></li>
          <li><a href="/proposal-view-rejected">Vista de propuesta rechazada</a></li>
          <li><a href="/phase5_results">Fase 5 - resultados</a></li>
          <li><a href="/action-view">Vista de resultado</a></li>
          <li><a href="/user-register">Usuario - registro</a></li>
          <li><a href="/user-register-success">Usuario - registro ok</a></li>
          <li><a href="/user-welcome">Usuario - registro email ok</a></li>
          <li><a href="/user-login">Usuario - entrar</a></li>
          <li><a href="/user-settings">Usuario - mi cuenta (con cabecera logged)</a></li>
          <li><a href="/user-profile">Usuario - perfil</a></li>
          <li><a href="/user-notifications">Usuario - notificaciones</a></li>
          <li><a href="/user-verification">Usuario - verifica residencia</a></li>
          <li><a href="/user-new-password">Usuario - Recordar contraseña</a></li>
          <li><a href="/user-confirm">Usuario - Reeenviar confirmación</a></li>
          <li><a href="/more-information">Más información</a></li>
          <li><a href="/static">Contenido estático/legal</a></li>
          <li><a href="/static-with-nav">Contenido estático con navegación</a></li>
          <li><a href="/404">Error 404</a></li>
          <li><a href="/500">Error 500</a></li>
        </ul>
      </div>
      <div class="section">
        <h2 class="section-heading">Librería de patrones</h2>
        <ul>
          <li><a href="/pattern-library">Librería de patrones de la interfaz</a></li>
          <li><a href="/style-manual">Manual de estilo</a></li>
        </ul>
      </div>
      <div class="section">
        <h2 class="section-heading">Plantilla para email</h2>
        <p>
          La plantilla de email está creada con
          <a href="http://foundation.zurb.com/emails/docs/" target="_blank">
            Foundation para email</a>, y el HTML y CSS original están en la carpeta
            <code>/source/emails/</code>.
          
        </p>
        <p>
          El HTML y CSS de los emails se puede combinar con la
          <a href="http://foundation.zurb.com/emails/inliner-v2.html" target="_blank">
            herramienta inliner</a> de Foundation.
        </p>
        <ul>
          <li><a href="/email-inline">Ejemplo de email con estilos inline</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
