---
title: Proceso -- Decidim Barcelona
activepage : info
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns medium-9 large-10">
      <h1>Plan urbanístico de Gracia</h1>
    </div>
    <div class="columns medium-3 large-2">
      <a href="" class="button hollow expanded">Seguir proceso</a>
    </div>
  </div>

  <div class="row collapse">
    <div class="main-container">
      <%= partial 'partials/process_nav' %>
      <div class="main-container__content">
        <%= partial 'partials/timeline' %>
      </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

