---
title: Decidim Barcelona
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns">
      <h1 class="heading1">Més informació</h1>
    </div>
  </div>
  <div class="row collapse">
    
  </div>
</main>

<%= partial 'partials/template_bottom' %>

