---
title: Decidim Barcelona
activeuser: logged
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns">
      <h1 class="heading1">Librería de patrones</h1>
    </div>
  </div>
  <div class="row collapse">
    <div class="main-container">
        <div class="row collapse main-container--side-panel">
          <div class="columns medium-4 large-3">
            <div class="side-panel">
              <ul class="tabs vertical side-panel__tabs" id="pattern-library-tabs"
                data-tabs>
                <li class="tabs-title is-active">
                  <a href="#patternTypography" aria-selected="true">Tipografía</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternButtons">Botones</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternIcons">Iconos</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternCards">Tarjetas y contenedores</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns medium-8 large-9">
            <div class="main-container__content">
              <div class="tabs-content vertical"
                data-tabs-content="pattern-library-tabs">
                <div class="tabs-panel is-active" id="patternTypography">
                  <h2 class="section-heading">Encabezados básicos</h2>
                  <p>Lista de encabezados que aparecen en la interfaz.</p>
                  <h1 class="heading1">Encabezado .heading1</h1>
                  <h2 class="heading2">Encabezado .heading2</h2>
                  <h3 class="heading3">Encabezado .heading3</h3>
                  <h4 class="heading4">Encabezado .heading4</h4>
                  <h5 class="heading5">Encabezado .heading5</h5>
                  <h6 class="heading6">Encabezado .heading6</h6>
                  <h5 class="section-heading">Encabezado de sección .section-heading</h5>
                </div>

                <div class="tabs-panel" id="patternButtons">
                  
                </div>

                <div class="tabs-panel" id="userMeetings">
                  <div class="card card--list">
                    <div class="card--list__item">
                      <div class="card--list__text">
                        <a href="#">
                          <svg class="card--list__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#shape-icon-meetings"></use>
                          </svg>
                        </a>
                        <div>
                          <a href="#" class="card__link">
                            <h5 class="card--list__heading">
                              Cooperatives i economia solidària
                            </h5>
                          </a>
                          <span class="text-small">20 Agost 2015</span>
                        </div>
                      </div>
                    </div>
                    <div class="card--list__item">
                      <div class="card--list__text">
                        <a href="#">
                          <svg class="card--list__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#shape-icon-meetings"></use>
                          </svg>
                        </a>
                        <div>
                          <a href="#" class="card__link">
                            <h5 class="card--list__heading">
                              Ús de l'espai públic a Badal
                            </h5>
                          </a>
                          <span class="text-small">20 Agost 2015</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

