---
title: Proceso -- Decidim Barcelona
activesection: processes
activephase: phase5
activepage : results
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row columns">
    <div class="title-action">
      <h2 class="title-action__title">Resultados</h2>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 card-grid">
    <div class="column">
      <div class="card card--action">
        <div class="card__content">
          <a href="/action-view" class="card__link">
            <h5>Creació d'aules ambientals al Parc del Clot</h5>
          </a>
          <p class="card__desc">Implementar la instal·lació d’àrees
            estratègiques de càrrega i descàrrega per garantir uns
             fluxos de mobilitat sostenibles i respectuosos.</p>
          <ul class="tags tags--action">
            <li><a href="">transició ecológica</a></li>
            <li><a href="">mobilitat sostenible</a></li>
            <li><a href="">barri de Sarrià</a></li>
          </ul>
        </div>
        <div class="card__footer">
          <ul class="card-data">
            <li class="card-data__item">
              <span class="card-data__item__number">130</span>propostes
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">27</span>suports
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">2567</span>comentaris
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card card--action">
        <div class="card__content">
          <a href="/action-view" class="card__link">
            <h5>Terrazas para no fumadores</h5>
          </a>
          <p class="card__desc">Implementar la instal·lació d’àrees
            estratègiques de càrrega i descàrrega per garantir uns
             fluxos de mobilitat sostenibles i respectuosos.</p>
          <ul class="tags tags--action">
            <li><a href="">transició ecológica</a></li>
            <li><a href="">mobilitat sostenible</a></li>
            <li><a href="">barri de Sarrià</a></li>
          </ul>
        </div>
        <div class="card__footer">
          <ul class="card-data">
            <li class="card-data__item">
              <span class="card-data__item__number">130</span>propostes
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">27</span>suports
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">2567</span>comentaris
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card card--action">
        <div class="card__content">
          <a href="/action-view" class="card__link">
            <h5>Augmentar les beques menjador</h5>
          </a>
          <p class="card__desc">Implementar la instal·lació d’àrees
            estratègiques de càrrega i descàrrega per garantir uns
             fluxos de mobilitat sostenibles i respectuosos.</p>
          <ul class="tags tags--action">
            <li><a href="">transició ecológica</a></li>
            <li><a href="">mobilitat sostenible</a></li>
            <li><a href="">barri de Sarrià</a></li>
          </ul>
        </div>
        <div class="card__footer">
          <ul class="card-data">
            <li class="card-data__item">
              <span class="card-data__item__number">130</span>propostes
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">27</span>suports
            </li>
            <li class="card-data__item">
              <span class="card-data__item__number">2567</span>comentaris
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

