---
title: Proceso -- Decidim Barcelona
activesection: processes
activephase: phase2
activepage : debates
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row columns">
    <div class="title-action">
      <h2 class="title-action__title">Debates abiertos</h2>
      <a href="#" class="title-action__action button small hollow button--sc">
        Añadir debate 
        <svg class="icon">
          <use xlink:href="#icon-plus" />
        </svg>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="columns large-8">
      <div class="card card--debate">
        <div class="card__content">
          <div class="card__datetime">
            <div class="card__datetime__date">
              20 <span class="card__datetime__month">Ago</span>
            </div>
            <div class="card__datetime__time">
              16:00 - 18:00
            </div>
          </div>
          <a href="/debate-view-AMA" class="card__link">
            <h5>Decidim amb Janet Sanz una Barcelona més humana i en
            transició ecològica</h5>
          </a>
          <p class="card__desc">
            Una Barcelona més humana i en transició ecològica” és un
            dels eixos estratègics que proposem al Programa d’actuació
            municipal, doncs construir una Barcelona més sostenible és
            construir una Barcelona per viure-hi; per viure-hi millor.
            Una ciutat que garanteixi el “dret a la ciutat”, a viure
            de forma digna, saludable, cívica i plena. I tenim la
            coresponsabilitat de fer-ho possible, ja que la ciutat la
            fem col·lectivament.Volem qualitat de vida, i això vol dir
            qualitat del medi ambient i de l’espai públic.
          </p>
          <ul class="tags tags--debate">
            <li><a href="">transició ecológica</a></li>
          </ul>
        </div>
        <div class="card__footer card__footer--data">
          <div class="card__content author">
            <div class="author__avatar">
              <img src="/images/demo-avatar.jpg" alt="">
            </div>
            <div class="author__name">
              Janet Sanz <span class="label label--small label--basic">
              Regidora</span>
              <span class="author__date">1 agosto 2016</span>
            </div>
          </div>
          <div class="card__support">
            <a href="#" class="button small card__button">Participa</a>
          </div>
        </div>
      </div>
      <div class="card card--debate">
        <div class="card__content">
          <div class="card__datetime">
            <div class="card__datetime__date">
              20 <span class="card__datetime__month">Ago</span>
            </div>
            <div class="card__datetime__time">
              16:00 - 18:00
            </div>
          </div>
          <a href="/debate-view-AMA" class="card__link">
            <h5>Decidim amb Janet Sanz una Barcelona més humana i en
            transició ecològica</h5>
          </a>
          <p class="card__desc">
            Una Barcelona més humana i en transició ecològica” és un
            dels eixos estratègics que proposem al Programa d’actuació
            municipal, doncs construir una Barcelona més sostenible és
            construir una Barcelona per viure-hi; per viure-hi millor.
            Una ciutat que garanteixi el “dret a la ciutat”, a viure
            de forma digna, saludable, cívica i plena. I tenim la
            coresponsabilitat de fer-ho possible, ja que la ciutat la
            fem col·lectivament.Volem qualitat de vida, i això vol dir
            qualitat del medi ambient i de l’espai públic.
          </p>
          <ul class="tags tags--debate">
            <li><a href="">transició ecológica</a></li>
          </ul>
        </div>
        <div class="card__footer card__footer--data">
          <div class="card__content author">
            <div class="author__avatar">
              <img src="/images/demo-avatar.jpg" alt="">
            </div>
            <div class="author__name">
              Janet Sanz <span class="label label--small label--basic">
              Regidora</span>
              <span class="author__date">1 agosto 2016</span>
            </div>
          </div>
          <div class="card__support">
            <a href="#" class="button small card__button">Participa</a>
          </div>
        </div>
      </div>
      <div class="card card--debate">
        <div class="card__content">
          <a href="/debate-view" class="card__link">
            <h5>La proposta inicial del Pla Municipal elaborat per
              l'Ajuntament de Barcelona</h5>
          </a>
          <p class="card__desc">
            Una Barcelona més humana i en transició ecològica” és un
            dels eixos estratègics que proposem al Programa d’actuació
            municipal, doncs construir una Barcelona més sostenible és
            construir una Barcelona per viure-hi; per viure-hi millor.
            Una ciutat que garanteixi el “dret a la ciutat”, a viure
            de forma digna, saludable, cívica i plena. I tenim la
            coresponsabilitat de fer-ho possible, ja que la ciutat la
            fem col·lectivament.Volem qualitat de vida, i això vol dir
            qualitat del medi ambient i de l’espai públic.
          </p>
          <ul class="tags tags--debate">
            <li><a href="">PAM</a></li>
            <li><a href="">transició ecológica</a></li>
          </ul>
        </div>
        <div class="card__footer card__footer--data">
          <div class="card__content author">
            <div class="author__avatar">
              <img src="/images/demo-avatar.jpg" alt="">
            </div>
            <div class="author__name">
              Ajuntament de Barcelona
              <span class="author__date">1 agosto 2016</span>
            </div>
          </div>
          <div class="card__support">
            <a href="#" class="button small card__button">Participa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

