---
title: Proceso -- Decidim Barcelona
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns large-10">
      <h1>Plan urbanístico de Gracia</h1>
    </div>
    <div class="columns large-2 end">
      <a href="" class="button expanded">Seguir proceso</a>
    </div>
  </div>

  <div class="row collapse">
    <div class="main-container">
      <div class="process-nav">
        <div class="row">
          <ul class="columns large-12">
            <li>
              <a href="" class="process-nav__link process-nav__link--info">
                <i class="fa fa-home"></i>
                <span>Informació</span>
              </a>
            </li>
            <li>
              <a href="" class="process-nav__link process-nav__link--proposals is-active">
                <i class="fa fa-pencil"></i>
                <span>Propostes</span>
              </a>
            </li>
            <li>
              <a href="" class="process-nav__link process-nav__link--actions">
                <i class="fa fa-briefcase"></i>
                <span>Actuacions</span>
              </a>
            </li>
            <li>
              <a href="" class="process-nav__link process-nav__link--debates">
                <i class="fa fa-comments"></i>
                <span>Debats</span>
              </a>
            </li>
            <li>
              <a href="" class="process-nav__link process-nav__link--meetings">
                <i class="fa fa-group"></i>
                <span>Cites presencials</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row collapse filters-wrapper">
        <div class="columns large-3">
          <div class="filters">
            <div class="main-container__content">
              <form>
                <input type="search" placeholder="Buscar">
              </form>
              <h6>Tu actividad</h6>
              <fieldset>
                <input id="" type="checkbox"><label for="">Creadas</label>
              </fieldset>
              <fieldset>
                <input id="" type="checkbox"><label for="">Comentadas</label>
              </fieldset>
              <fieldset>
                <input id="" type="checkbox"><label for="">Votadas</label>
              </fieldset>
              <fieldset>
                <input id="" type="checkbox"><label for="">Seguidas</label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="columns large-9">
          <div class="main-container__content">
            <div class="row">
              <div class="columns large-6">
                <div class="card">
                  <div class="card__content">
                    <h5>Creació d'aules ambientals al Parc del Clot</h5>
                    <p>Card content</p>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <span>lalalalalala</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card">
                  <div class="card__content">
                    <h2>Card title</h2>
                    <p>Card content</p>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <span>lalalalalala</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="columns large-6">
                <div class="card">
                  <div class="card__content">
                    <h2>Card title</h2>
                    <p>Card content</p>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <span>lalalalalala</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card">
                  <div class="card__content">
                    <h2>Card title</h2>
                    <p>Card content</p>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <span>lalalalalala</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

