---
title: Proceso -- Decidim Barcelona
---

<%= partial 'partials/topbar' %>

<%= partial 'partials/small_navigation' %>


<div class="row column">
  <h1>Plan urbanístico de Gracia</h1>
</div>

<div class="row">
  <div class="main-container">
    <ul class="process-nav">
      <li><a href="" class="process-nav__link">Informació</a></li>
      <li><a href="" class="process-nav__link">Propostes</a></li>
      <li><a href="" class="process-nav__link">Actuacions</a></li>
      <li><a href="" class="process-nav__link">Debats</a></li>
      <li><a href="" class="process-nav__link">Cites presencials</a></li>
    </ul>
    <div class="main-container__content">
      <div class="row">
        <div class="columns large-4">
          <div class="card">
            <div class="card__content">
              <h2>Card title</h2>
              <p>Card content</p>
            </div>
            <div class="card__footer">
              <div class="card__content">
                <span>lalalalalala</span>
              </div>
            </div>
          </div>
        </div>
        <div class="columns large-4">
          <div class="card">
            <div class="card__content">
              <h2>Card title</h2>
              <p>Card content</p>
            </div>
            <div class="card__footer">
              <div class="card__content">
                <span>lalalalalala</span>
              </div>
            </div>
          </div>
        </div>
        <div class="columns large-4">
          <div class="card">
            <div class="card__content">
              <h2>Card title</h2>
              <p>Card content</p>
            </div>
            <div class="card__footer">
              <div class="card__content">
                <span>lalalalalala</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

