---
title: Proceso -- Decidim Barcelona
activesection: processes
activepage : processes
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row section">
    <h1>Processos destacats</h1>

    <div class="card card--full card--process">
      <div class="row collapse card--process__row">
        <div class="column large-6 medium-7 card--process__column">
          <div class="card__content">
            <a href="/info" class="card__link">
              <h2>Plan urbanístico de Gracia</h2>
            </a>
            <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum
              quam volutpat aliquam. Integer et elit eget elit facilisis
              tristique. Namvel iaculis mauris. Sed ullamcorper tellus erat, non
              ultrices semtincidunt euismod. Fusce rhoncus porttitor velit, eu
              bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis,
              facilisis accumsan turpis.
            </p>
            <p>Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod.
              Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce
              lorem leo, vehicula at nibh quis, facilisis accumsan turpis. Fusce
              rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem
              leo, vehicula at nibh quis...
            </p>
            <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong>
            </p>
            <a href="/info" class="button secondary tiny hollow">Más información</a>
          </div>
        </div>
        <div class="column large-6 medium-5 card--process__column">
          <div class="card--full__image"
            style="background-image:url(/images/demo-info-page.jpg)">
            <div class="card__content row collapse">
              <div class="medium-6 medium-offset-6 columns">
                <a href="/info" class="button expanded button--sc">
                  Participa
                  <span class="button__info">Fase actual: Diagnóstico</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card--full card--process">
      <div class="row collapse card--process__row">
        <div class="column medium-6 card--process__column">
          <div class="card__content">
            <a href="/info" class="card__link">
              <h2>Plan de fomento del turismo en la Barceloneta</h2>
            </a>
            <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum
              quam volutpat aliquam. Integer et elit eget elit facilisis
              tristique. Namvel iaculis mauris. Sed ullamcorper tellus erat, non
              ultrices semtincidunt euismod. Fusce rhoncus porttitor velit, eu
              bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis,
              facilisis accumsan turpis.</p>
            <p>Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod.
              Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce
              lorem leo, vehicula at nibh quis, facilisis accumsan turpis. Fusce
              rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem
              leo, vehicula at nibh quis...</p>
            <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
						<a href="/info" class="button secondary tiny hollow">Más información</a>
          </div>
        </div>
        <div class="column medium-6 card--process__column">
          <div class="card--full__image"
            style="background-image:url(/images/process2.jpg)">
            <div class="card__content row collapse">
              <div class="medium-6 medium-offset-6 columns">
                <a href="/info" class="button expanded button--sc">
                  Participa
                  <span class="button__info">Fase actual: Diagnóstico</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <section class="section row collapse">
    <%= partial 'partials/order_by_processes' %>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan de fomento del tursimo de la Barceloneta</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card--process">
          <div class="card__content">
            <a href="/action-view" class="card__link">
              <h4>Plan urbanístico de Gracia</h4>
            </a>
            <p class="card__desc">Implementar la instal·lació d’àrees estratègiques
              de càrrega i descàrrega per garantir uns fluxos de mobilitat
              sostenibles i respectuosos. Sed ullamcorper tellus erat, non
              ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit.</p>
             <p class="card--process__date">Fecha de finalización:
              <strong>23/10/2016</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= partial 'partials/template_bottom' %>

