---
title: Proceso -- Decidim Barcelona
activepage : proposals
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns medium-9 large-10">
      <h1>Plan urbanístico de Gracia</h1>
    </div>
    <div class="columns medium-3 large-2">
      <a href="" class="button expanded">Seguir proceso</a>
    </div>
  </div>

  <div class="row collapse">
    <div class="main-container">
      <%= partial 'partials/process_nav' %>
      <div class="row collapse filters-wrapper">
        <div class="columns medium-4 large-3">
          <div class="filters">
            <div class="main-container__content">
              <form>
                <input type="search" placeholder="Buscar">
              </form>
              <h6>Tu actividad</h6>
              <fieldset>
                <label><input id="" type="checkbox">Creadas</label>
              </fieldset>
              <fieldset>
                <label><input id="" type="checkbox">Comentadas</label>
              </fieldset>
              <fieldset>
                <label><input id="" type="checkbox">Votadas</label>
              </fieldset>
              <fieldset>
                <label><input id="" type="checkbox">Seguidas</label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="columns medium-8 large-9">
          <div class="main-container__content">
            <div class="row">
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <h5>Creació d'aules ambientals al Parc del Clot</h5>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <div class="card__author">
                        Consell de Barri de Gràcia
                        <span class="card__date">1 agosto 2016</span>
                      </div>
                      <div class="card__voting">
                        <div class="card__vote-number">
                          3500
                        </div>
                        <a href="#" class="small button card__button">Apoyar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <h5>Terrazas para no fumadores</h5>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <div class="card__author">
                        Consell de Barri de Gràcia
                        <span class="card__date">1 agosto 2016</span>
                      </div>
                      <div class="card__voting">
                        <div class="card__vote-number">
                          3500
                        </div>
                        <a href="#" class="small button card__button">Apoyar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <h5>Augmentar les beques menjador</h5>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <div class="card__author">
                        Consell de Barri de Gràcia
                        <span class="card__date">1 agosto 2016</span>
                      </div>
                      <div class="card__voting">
                        <div class="card__vote-number">
                          3500
                        </div>
                        <a href="#" class="small button card__button">Apoyar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <h5>Controlar i difondre l'índex de contaminació atmosfèrica</h5>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer">
                    <div class="card__content">
                      <div class="card__author">
                        Consell de Barri de Gràcia
                        <span class="card__date">1 agosto 2016</span>
                      </div>
                      <div class="card__voting">
                        <div class="card__vote-number">
                          3500
                        </div>
                        <a href="#" class="small button card__button">Apoyar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

