---
title: Registro -- Decidim Barcelona
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse process-header">
      <div class="columns large-8 large-centered text-center">
        <h1>Registra't a Decidim</h1>
        <p>Créate una cuenta para poder participar en los debates y apoyar las
          propuestas.</p>
        <p>
          Ja tens compte?
          <a href="#">Entra</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="main-container columns medium-9 medium-centered">
        <div class="main-container__content">
          <div class="social-register">
            <a class="button button--social button--social--twitter"
               href="/users/auth/twitter">
              <span class="button--social__icon fa fa-twitter"></span>
              Registra't amb Twitter
            </a>
            <a class="button button--social button--social--facebook"
               href="/users/auth/facebook">
              <span class="button--social__icon fa fa-facebook"></span>
              Registra't amb Facebook
            </a>
            <a class="button button--social button--social--google"
               href="/users/auth/google_oauth2">
              <span class="button--social__icon fa fa-google"></span>
              Registra't amb Google
            </a>
          </div>
          <div class="row">
            <div class="columns large-6 medium-centered">
              <span class="register__separator">o bé</span>
              <h6 class="text-center">crea un nou compte</h6>
              <form class="register-form">
                <div class="text-center">
                  <input type="radio" name="userType" value="Particular"
                    id="particular" checked>
                  <label for="particular">Particular</label>
                  <input type="radio" name="userType" value="Organització"
                    id="organitzacio">
                  <label for="organitzacio">Organització/Col·lectiu</label>
                </div>
                <div>
                  <div>
                    <label>Nom d'usuari
                      <input type="text" placeholder="Usuari"
                      aria-describedby="userHelp">
                    </label>
                    <p class="help-text" id="userHelp">Nom públic que apareixerà
                      en les teves publicacions. Amb l'objectiu de garantitzar
                      l'anonimat pot ser qualsevol nom.</p>
                  </div>
                  <div>
                    <label>Adreça electrònica
                      <input type="email" placeholder="exemple@domini.com">
                    </label>
                  </div>
                  <div>
                    <label>Contrassenya
                      <input type="email" placeholder="Contrasenya">
                    </label>
                  </div>
                </div>
                <fieldset>
                  <label for="checkbox3">
                    <input type="checkbox">
                    En registrar-te acceptes <a href="#">les condicions d'ús</a>
                  </label>
                </fieldset>
                <button type="submit" class="button expanded">Registra't</button>
              </form>
              <p class="text-center">
                Ja tens compte?
                <a href="#">Entra</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

