//Variables
$address-bg: $light-gray-dark;
$address-padding: 1rem;

/* Card address */
.address{
  background: $address-bg;
  padding: $address-padding;
  @include clearfix;
  display: flex;
}

.address__info{
  display: flex;
  flex-grow: 1;
}

.address__icon{
  float: left;
  display: flex;
  align-self: center;
  fill: $primary;
}

.address__details{
  float: left;
  padding-left: .5em;
  align-self: center;
}
