//Variables
$author-color: $dark-gray;
$date-color: $muted;
$date-font-size: $small-font-size;
$author-data-color: $muted;

//Styles

.author-data{
  @include clearfix();
  color: $author-data-color;
  font-size: .9rem;
  padding-left: 30px;
  position: relative;
  a,
  button{
    color: $author-data-color;
    &:hover{
      color: $anchor-color;
    }
  }
  .author__name{
    color: $anchor-color;
  }
  .author__avatar--small{
    position: absolute;
    margin-left: -30px;
  }
}

.author-data--noavatar{
  padding-left: 0;
}

.author-data__main{
  display: inline;
  margin-right: .8rem;
  @include breakpoint(large){
    &:after{
      content: "";
      margin-left: .5rem;
      border-left: $border;
      height: .7rem;
      vertical-align: middle;
    }
  }
}

.author-data__extra{
  display: inline-block;
  >a{
    margin-right: 1rem;
  }
}

.author{
  display: flex;
}

.author--inline{
  display: inline-block;
}

.author__name{
  display: inline-block;
  flex-grow: 1;
  align-self: center;
  color: $author-color;
}

a:hover .author__name{
  color: inherit;
}


.author__avatar{
  padding: 0 .5em 0 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-self: center;
  .author--inline &{
    display: inline-block;
  }
  img{
    border-radius: 50%;
    width: 100%;
    max-width: 40px;
  }
}

.author__avatar--small{
  img{
    max-width: 25px;
  }
}

.author__date{
  display: block;
  color: $date-color;
  font-size: $date-font-size;
}