//Variables
$author-color: $dark-gray;

//Styles
.author{
  display: flex;
}

.author__name{
  display: inline-block;
  flex-grow: 1;
  align-self: center;
  color: $author-color;
}


.author__avatar{
  padding: 0 .5em 0 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-self: center;
  img{
    border-radius: 50%;
  }
}
