.budget-summary__total{
  margin-bottom: .5rem;
}

.budget-summary__progressbox{
  display: flex;
  align-items: stretch;
  margin-bottom: .5rem;
  .button{
    margin-bottom: 0;
  }
}

.budget-progress{
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 0;
  height: auto;
}

.budget-progress__meter{
  min-width: 0.1%;
}

.budget-summary__selected{
  border-top: $border;
}
