/* Foundation button overrides*/

.button{
  &.small{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &.tiny{
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}


/*Extra buttons styles*/

.button--frosted{
  background-color: rgba($white, .65);
  color: $primary;
}

.button--sc{
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 600;
  &.large{
    font-size: 1rem;
  }
}

.link{
  color: $anchor-color;
}

.link--no-color{
  color: inherit;
}

.muted-link{
  color: $muted;
  &:hover{
    color: $anchor-color;
  }
}

.show-more{
  font-size: 90%;
}