/* Callout foundation overwrites*/

.callout{
  &.secondary{
    border-color: $medium-gray;
    border-left: 8px solid $secondary;
  }
  &.warning{
    border-color: $medium-gray;
    border-left: 8px solid $warning;
  }
}