/* Variables */

$card-bg: $white;
$card-border: $border;
$card-border-radius: $global-radius;
$card-shadow: 0 2px 7px rgba(black,.1);

$card-padding: 1rem;
$card-margin-bottom: map-get($grid-column-gutter, medium);

$card-desc-color: $muted;

$card-footer-bg: $light-gray;

$card-proposal: $proposals;
$card-action: $actions;
$card-debate: $debates;
$card-meeting: $meetings;

$datetime-bg: $primary;
$datetime-font-weight: 600;


/* Cards */
.card{
  margin-bottom: $card-margin-bottom;
  background: $card-bg;
  border: $card-border;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
}

.card__content{
   padding: $card-padding;
}

.card__desc{
  color: $card-desc-color;
  clear: both;
}

.card__button{
  margin-bottom: 0;
}


/* Card datetime */

.card__datetime{
  float: left;
  text-align: center;
  border: 2px solid $datetime-bg;
  padding: .3em .5em;
  margin: 0 .5em .5em 0;
  font-weight: $datetime-font-weight;
  .card--debate &{
    border-color: $card-debate;
  }
  .card--meeting &{
    border-color: $card-meeting;
  }
}

.card__datetime__date{
  font-size: 1.4rem;
  line-height: 1.1;
}

.card__datetime__month{
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.card__datetime__time{
  font-size: .8rem;
}


/* Card footer */

.card__footer{
  background: $card-footer-bg;
  border-top: $card-border;
  border-radius: 0 0 $card-border-radius $card-border-radius;
  clear: both;
  .card__content{
    display: flex;
  }
}

.card__footer--data{
  display: flex;
  .card__content{
    flex-grow: 1;
  }
  .card-data{
    flex-direction: column;
  }
  .card-data__item{
    flex-basis: auto;
    border-right: none;
    border-left: $border;
    border-bottom: $border;
    &:last-of-type{
      border-bottom: none;
    }
  }
}


.card__voting{
  display: inline-block;
  text-align: center;
}

.card__vote-number{
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
}

/* Card data */

.card-data{
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.card-data__item{
  display: inline-block;
  flex-basis: 33.33%;
  text-align: center;
  text-transform: uppercase;
  font-size: 85%;
  line-height: 1;
  color: $muted;
  padding: .5em;
  border-right: $border;
  &:nth-of-type(n+4){
    border-top: $border;
  }
  &:nth-of-type(3n){
    border-right: 0;
  }
}
.card-data__item__number{
  display: block;
  line-height: 1;
  font-weight: 600;
  font-size: rem-calc(20);
  color: $body-font-color;
  margin-bottom: .2rem;
}


/* Card with image */
.card__img{
  text-align: center;
  @include breakpoint(large){
    float: right;
    width: 35%;
  }
}

.card__content--img{
  @include breakpoint(large){
    float: left;
    width: 60%;
  }
}


/* Card Link */
.card__link{
  color: inherit;
  &:hover{
    color: $anchor-color;
  }
}

.card__link--block{
  display: block;
}

/* Card list */
.card--list{
  .card--list__item:not(:last-of-type){
    border-bottom: $border;
  }
}

.card--list__item{
  display: flex;
  @include breakpoint(medium){
    align-items: center;
  }
  padding: .5em 0;
  &:first-of-type{
    margin-top: -.5rem;
  }
  &:last-of-type{
    margin-bottom: -.5rem;
  }
}

.card--list__icon{
  margin-right: .5rem;
  flex-shrink: 0;
  flex-basis: 15px;
  @include breakpoint(medium){
    flex-basis: auto;
  }
}

.card--list__text{
  flex-grow: 1;
  .author{
    margin-top: .3rem;
    margin-right: 1rem;
  }
}

.card--list__heading{
  margin-bottom: 0;
  display: inline-block;
  margin-right: 1rem;
}

.card--list .tags{
  @include breakpoint(medium down){
    display: none;
  }
}

.card--list__data{
  flex-shrink: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 85%;
  line-height: 1;
  color: $muted;
  padding-left: .5rem;
}

.card--list__data__number{
  @extend .card-data__item__number;
}

/* Card full width variant */

.card--full{
  margin-bottom: $card-margin-bottom*2;
  .card__content{
    padding: $card-padding*2;
  }
}

.card--full__image{
  background-size: cover;
  position: relative;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba($white,1),rgba($white,0) 80%);
    z-index: 0;
    @include breakpoint(medium){
      background: linear-gradient(to right, rgba($white,1),rgba($white,0) 80%);
    }
  }
  > .card__content{
    position: relative;
    z-index: 1;
    @include breakpoint(medium){
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

/* Card full width process variant */


 @include breakpoint(medium){
  .card--process__row{
      display: flex;
  }

  .card--process__column{
    .card--full__image-wrapper{
      height: 100%;
      overflow: hidden;
    }
    .card--full__image{
      height: 100%;
      > img{
        min-height: 100%;
        max-width: initial;
        position: absolute;
      }
    }
  }
}

.card--process__date{
  font-size: $small-font-size;
}

.card--process__footer{
  display: flex;
  flex-wrap: wrap;
}

.card--process__footer__item{
  border-top: $border;
  border-right: $border;
  padding: $card-padding/2 $card-padding;
  flex-grow: 1;
  flex-basis: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  &:nth-of-type(2n){
    border-right: 0;
  }
  .card--full &{
    padding: $card-padding;
    @include breakpoint(large){
      width: 25%;
      flex-basis: 25%;
      padding: $card-padding $card-padding*2;
      &:nth-of-type(n){
        border-right: $border;
      }
      &:last-of-type{
        border-right: 0;
      }
    }
  }
}

.card--process__footer__desc{
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  margin-left: .25rem;
  .card--full & {
    font-size: 1.1rem;
    margin-left: .5rem;
  }
}

.card--process__footer__number{
  display: block;
  color: $muted;
  font-size: 1rem;
  font-weight: normal;
}

