.definition-data{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.definition-data__item{
	display: block;
	margin-bottom: 1.2rem;
	&:last-child{
		margin-bottom: 0;
	}
}

.definition-data__title{
	display: block;
	text-transform: uppercase;
  font-size: 85%;
  line-height: 1;
  color: $muted;
}
