//Variables

$filters-bg: $light-gray;
$filters-border: $border;

$order-border: $border;


//Styles
.filters-wrapper{
  display: flex;
}

.filters{
  min-height: 100%;
  background-color: $filters-bg;
  border-right: $filters-border;
}

/*Order by styles*/
.cards-view{
  border-bottom: $order-border;
  margin-bottom: 1rem;
  display: flex;
}

.cards-view__order{
  margin-left: auto;
  display: flex;
  .menu{
    margin-left: auto;
    .is-dropdown-submenu-parent > a{
      padding: 0;
      margin-left: 1rem;
      margin-top: .25rem;
    }
  }
}