.wrapper{
  padding: 5rem 1rem;
  @include breakpoint(large){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

//Flexbox sticky footer
body{
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.footer-separator{
  flex-grow: 1;
}