/* Variables */

$container-bg: $white;
$container-border: $border;
$container-shadow: 0 2px 7px rgba(black,.1);


/* Main container */

.main-container{
  background: $container-bg;
  border: $container-border;
  box-shadow: $container-shadow;
}

.main-container__content{
  padding: 1em;
}