//Variables
$order-border: $border;

/*Order by styles*/
.order-by{
  border-bottom: $order-border;
  margin-bottom: 1rem;
  display: flex;
}

.order-by__text{
  display: inline-block;
}

.order-by__dropdown{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .menu{
    .is-dropdown-submenu-parent > a{
      padding: 0;
      margin-left: 1rem;
      margin-top: .25rem;
    }
  }
}