//Variables
$order-border: $border;

/*Order by styles*/
.order-by{
  border-bottom: $order-border;
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
}

.order-by__text{
  display: inline-block;
}

.order-by__dropdown{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .menu{
    .is-dropdown-submenu-parent > a{
      padding: 0;
      margin-left: 1rem;
      margin-top: .25rem;
    }
  }
}

.order-by__tab{
  color: $muted;
  font-weight: normal;
  &:after{
    content: "";
    display: inline-block;
    height: .75em;
    border-left: $border;
    margin: 0 .75rem;
    vertical-align: middle;
  }
  &.is-active{
    color: $anchor-color;
  }
  &:first-of-type{
    padding-left: 0;
  }
  &:last-of-type:after{
    border-left: none;
  }
}

