.process-header{
  min-height: 300px;
  background-size: cover;
  margin-bottom: 1rem;
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .4);
  }
}

.process-header__container{
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  display: flex;
}

.process-header__action{
  margin-top: auto;
  :last-child{
    margin-bottom: 0;
  }
}