/* Variables */

$process-nav-color: $body-font-color;
$process-nav-padding-x: 1rem;
$process-nav-padding-y: $container-padding-y;

/* Navigation */

.process-nav{
  border-bottom: $border;
  padding: $process-nav-padding-x $process-nav-padding-y;
  ul{
    margin: 0;
    list-style: none;
  }
  li{
    display: inline-block;
    margin-right: 1rem;
  }
}

.process-nav__link{
  display: block;
  color: $process-nav-color;
  text-transform: uppercase;
}