/* Variables */


/* Typography - Foundation overrides */

h2{
  line-height: 1.2;
}

h5{
  line-height: 1.2;
}

h6{
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 600;
}

hr{
  width: 50%;
}